* {
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  padding: 135px 20px 0;
}
.cabecera{
  background-color: #0097CC;
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
}

ul li a, .logo{
  font-family: Script MT, sans-serif;
  color: white;
  text-decoration: none;
}
.logo{
  font-size: 40px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 90px;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 20px;
  margin: 0 16px;
  line-height: 90px;
  /*text-transform: uppercase;*/
  width: max-content;
  font-family: sans-serif;
}

ul li a{
  padding: 28px 28px;
  border-radius: 5px;
}

ul li a:hover{
  background-color: #007399;
  transition: 0.5s;
}

/*TABLA DEL CARRITO*/
h2{
	font-size: 24px;
	text-align: center;
	padding: 0.4em 2.5em 0.4em 2.5em;
	width: 380px;
	color: white;
	background-color: #0097CC;
	border-radius: 12px;
	margin: auto;
	margin-bottom: .5em;
	clear: left;
}
table{
	font-size: 19px;
	margin: auto;
	border-collapse: collapse;
	text-align: center;
	border: white;
}
table tr:last-child{
	border-bottom: 2px solid #AEAEAE; 
}
table thead{
	border-top: 2px solid #AEAEAE;
}
table td{
	padding: 14px;
}
table th{
	padding: 15px;
	background-color: #FFF;
}
table tbody tr:nth-child(odd) {
	background-color: #EAEAEA;
}

.button{
	background-color: #0097CC;
	font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 6px;
}
.button:hover {
    background-color: #007399;
    transition: 0.5s;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}
#carritoVacio{
  margin-top: -110px;
}
.boton1{
  background-color: green;
  margin-top: 10px;
  margin-left: 40%;
  font-weight: bold;
  border: none;
  color: white;
  padding: 0.4em 2.5em 0.4em 2.5em;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 6px;
  align-content: center;
}

.boton1:hover {
  background-color: lightgreen;
    transition: 0.5s;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}
