div#formRegistro {
	position: relative;
}

div#formRegistro form{
	width: 200px;
	height: 50px;
	/* Center vertically and horizontally */
	position: absolute;
	margin: 10px;
}

div#formRegistro form input {
	margin: 5px;
}