* {
  margin: 0;
  box-sizing: border-box;
}

#imagenSalir{
  position: absolute;
  margin-left: -22px;
  margin-top: 22px; 
}

body{
  font-family: sans-serif;
  padding: 135px 20px 0;
}
.cabecera{
  background-color: #0097CC;
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav{
  display: flex;
  justify-content: space-between;
}

ul li a, .logo{
  font-family: Script MT, sans-serif;
  color: white;
  text-decoration: none;
}
.logo{
  font-size: 40px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 90px;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 20px;
  margin: 0 16px;
  line-height: 90px;
  /*text-transform: uppercase;*/
  width: max-content;
  font-family: sans-serif;
}

ul li a{
  padding: 28px 28px;
  border-radius: 5px;
}

ul li a:hover{
  background-color: #007399;
  transition: 0.5s;
}

/*CATALOGO DE JUEGOS*/

table{
  width: 70%;
  margin: auto;
  font-size: 20px;
  clear: left;
  border-collapse: collapse;
  text-align: center;
}
table tbody tr:nth-child(odd) {
  background-color: #EAEAEA;
}

table thead{
  border-top: 2px solid #AEAEAE;
  border-bottom: 2px solid #AEAEAE;
}
table tbody a{
  text-decoration: none;
  font-weight: bold;
  color: #0097CC;
}
table th{
  padding: 15px;
  background-color: #FFF;
}
table tbody td{
  padding: 10px 0;
}

table tr:last-child{
  border-bottom: 2px solid #AEAEAE; 
}

/*BOTON*/
.button{
    background-color: #0097CC;
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 20px;
}
.button:hover {
    background-color: #007399;
    transition: 0.5s;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}
.newgame{
    margin: 0 auto;
    text-align: center;
}
